<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.info.managementinfo.info.school.dao.SchoolDao">

	<select id="get" resultType="com.graduation.info.managementinfo.info.school.domain.SchoolDO">
		select `id`,`name`,`enrollment_guide`,`item_bank`,`aaaa`,`bbbb`,`cccc`,`dddd` from school where id = #{value}
	</select>

	<select id="list" resultType="com.graduation.info.managementinfo.info.school.domain.SchoolDO">
		select `id`,`name`,`enrollment_guide`,`item_bank`,`aaaa`,`bbbb`,`cccc`,`dddd` from school
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="enrollmentGuide != null and enrollmentGuide != ''"> and enrollment_guide = #{enrollmentGuide} </if>
		  		  <if test="itemBank != null and itemBank != ''"> and item_bank = #{itemBank} </if>
		  		  <if test="aaaa != null and aaaa != ''"> and aaaa = #{aaaa} </if>
		  		  <if test="bbbb != null and bbbb != ''"> and bbbb = #{bbbb} </if>
		  		  <if test="cccc != null and cccc != ''"> and cccc = #{cccc} </if>
		  		  <if test="dddd != null and dddd != ''"> and dddd = #{dddd} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from school
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="enrollmentGuide != null and enrollmentGuide != ''"> and enrollment_guide = #{enrollmentGuide} </if>
		  		  <if test="itemBank != null and itemBank != ''"> and item_bank = #{itemBank} </if>
		  		  <if test="aaaa != null and aaaa != ''"> and aaaa = #{aaaa} </if>
		  		  <if test="bbbb != null and bbbb != ''"> and bbbb = #{bbbb} </if>
		  		  <if test="cccc != null and cccc != ''"> and cccc = #{cccc} </if>
		  		  <if test="dddd != null and dddd != ''"> and dddd = #{dddd} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.graduation.info.managementinfo.info.school.domain.SchoolDO" useGeneratedKeys="true" keyProperty="id">
		insert into school
		(
			`name`, 
			`enrollment_guide`, 
			`item_bank`, 
			`aaaa`, 
			`bbbb`, 
			`cccc`, 
			`dddd`
		)
		values
		(
			#{name}, 
			#{enrollmentGuide}, 
			#{itemBank}, 
			#{aaaa}, 
			#{bbbb}, 
			#{cccc}, 
			#{dddd}
		)
	</insert>
	 
	<update id="update" parameterType="com.graduation.info.managementinfo.info.school.domain.SchoolDO">
		update school 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="enrollmentGuide != null">`enrollment_guide` = #{enrollmentGuide}, </if>
			<if test="itemBank != null">`item_bank` = #{itemBank}, </if>
			<if test="aaaa != null">`aaaa` = #{aaaa}, </if>
			<if test="bbbb != null">`bbbb` = #{bbbb}, </if>
			<if test="cccc != null">`cccc` = #{cccc}, </if>
			<if test="dddd != null">`dddd` = #{dddd}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from school where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from school where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getEGuideUrlBySchoolId" resultType="string">
		select url from enrollment_guide where id =(select e_id from sc_e where sc_id=#{id})
	</select>

	<select id="getEGuideBySchool" resultType="com.graduation.info.managementinfo.info.enrollmentguide.domain.EnrollmentGuideDO">
		select * from enrollment_guide where id =(select e_id from sc_e where sc_id=#{id})
	</select>

</mapper>