<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.info.managementinfo.info.grademark.dao.GradeMarkDao">

	<select id="get" resultType="com.graduation.info.managementinfo.info.grademark.domain.GradeMarkDO">
		select `id`,`sc_id`,`m_id`,`grade`,`year`,`jljljl` from grade_mark where id = #{value}
	</select>

	<select id="list" resultType="com.graduation.info.managementinfo.info.grademark.domain.GradeMarkDO">
		select `id`,`sc_id`,`m_id`,`grade`,`year`,`jljljl` from grade_mark
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="scId != null and scId != ''"> and sc_id = #{scId} </if>
		  		  <if test="mId != null and mId != ''"> and m_id = #{mId} </if>
		  		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  		  <if test="year != null and year != ''"> and year = #{year} </if>
		  		  <if test="jljljl != null and jljljl != ''"> and jljljl = #{jljljl} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from grade_mark
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="scId != null and scId != ''"> and sc_id = #{scId} </if>
		  		  <if test="mId != null and mId != ''"> and m_id = #{mId} </if>
		  		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  		  <if test="year != null and year != ''"> and year = #{year} </if>
		  		  <if test="jljljl != null and jljljl != ''"> and jljljl = #{jljljl} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.graduation.info.managementinfo.info.grademark.domain.GradeMarkDO" useGeneratedKeys="true" keyProperty="id">
		insert into grade_mark
		(
			`sc_id`, 
			`m_id`, 
			`grade`, 
			`year`,
			`jljljl`
		)
		values
		(
			#{scId}, 
			#{mId}, 
			#{grade}, 
			#{year},
			#{jljljl}
		)
	</insert>
	 
	<update id="update" parameterType="com.graduation.info.managementinfo.info.grademark.domain.GradeMarkDO">
		update grade_mark 
		<set>
			<if test="scId != null">`sc_id` = #{scId}, </if>
			<if test="mId != null">`m_id` = #{mId}, </if>
			<if test="grade != null">`grade` = #{grade}, </if>
			<if test="year != null">`year` = #{year}, </if>
			<if test="jljljl != null">`jljljl` = #{jljljl}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from grade_mark where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from grade_mark where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>