<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.info.managementinfo.info.testquestion.dao.TestQuestionDao">

	<select id="get" resultType="com.graduation.info.managementinfo.info.testquestion.domain.TestQuestionDO">
		select `id`,`tname`,`url`,`size`,`createtime`,`updatetime`,`sc_id` from test_question where id = #{value}
	</select>

	<select id="list" resultType="com.graduation.info.managementinfo.info.testquestion.domain.TestQuestionDO">
		select `id`,`tname`,`url`,`size`,`createtime`,`updatetime`,`sc_id` from test_question
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="tname != null and tname != ''"> and tname = #{tname} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="size != null and size != ''"> and size = #{size} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updatetime = #{updatetime} </if>
		  		  <if test="sc_id != null and sc_id != ''"> and sc_id = #{scId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from test_question
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="tname != null and tname != ''"> and tname = #{tname} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="size != null and size != ''"> and size = #{size} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updatetime = #{updatetime} </if>
		  		  <if test="sc_id != null and sc_id != ''"> and sc_id = #{scId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.graduation.info.managementinfo.info.testquestion.domain.TestQuestionDO" useGeneratedKeys="true" keyProperty="id">
		insert into test_question
		(
			`tname`, 
			`url`, 
			`size`, 
			`createtime`, 
			`updatetime`, 
			`sc_id`
		)
		values
		(
			#{tname}, 
			#{url}, 
			#{size}, 
			#{createtime}, 
			#{updatetime}, 
			#{scId}
		)
	</insert>
	 
	<update id="update" parameterType="com.graduation.info.managementinfo.info.testquestion.domain.TestQuestionDO">
		update test_question 
		<set>
			<if test="tname != null">`tname` = #{tname}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="size != null">`size` = #{size}, </if>
			<if test="createtime != null">`createtime` = #{createtime}, </if>
			<if test="updatetime != null">`updatetime` = #{updatetime}, </if>
			<if test="sc_id != null">`sc_id` = #{scId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from test_question where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from test_question where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="getTestQuestionBySId" resultType="com.graduation.info.managementinfo.info.testquestion.domain.TestQuestionDO">
		select * from test_question where id in (select t_id from sc_t where sc_id=#{scId})
	</select>

</mapper>