<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <style>
        #text{
            font-size: 200px;
            font-weight: 900;
            line-height: 210px;
            color: #2c2b2e;
            font-family: "Rubik", sans-serif;
            outline: none!important;
            text-align: center!important;
        }
    </style>
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 id="text" >没有权限</h1>
                <!--<div class="mb-4">You don't have permission to access this URL, please contact with your system administrator.</div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
