<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.info.managementinfo.info.course.dao.CourseDao">

	<select id="get" resultType="com.graduation.info.managementinfo.info.course.domain.CourseDO">
		select `id`,`name`,`url`,`size`,`oioioi`,`ioioio` from course where id = #{value}
	</select>

	<select id="list" resultType="com.graduation.info.managementinfo.info.course.domain.CourseDO">
		select `id`,`name`,`url`,`size`,`oioioi`,`ioioio` from course
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="size != null and size != ''"> and size = #{size} </if>
		  		  <if test="oioioi != null and oioioi != ''"> and oioioi = #{oioioi} </if>
		  		  <if test="ioioio != null and ioioio != ''"> and ioioio = #{ioioio} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from course
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="size != null and size != ''"> and size = #{size} </if>
		  		  <if test="oioioi != null and oioioi != ''"> and oioioi = #{oioioi} </if>
		  		  <if test="ioioio != null and ioioio != ''"> and ioioio = #{ioioio} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.graduation.info.managementinfo.info.course.domain.CourseDO" useGeneratedKeys="true" keyProperty="id">
		insert into course
		(
			`name`, 
			`url`, 
			`size`, 
			`oioioi`, 
			`ioioio`
		)
		values
		(
			#{name}, 
			#{url}, 
			#{size}, 
			#{oioioi}, 
			#{ioioio}
		)
	</insert>
	 
	<update id="update" parameterType="com.graduation.info.managementinfo.info.course.domain.CourseDO">
		update course 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="size != null">`size` = #{size}, </if>
			<if test="oioioi != null">`oioioi` = #{oioioi}, </if>
			<if test="ioioio != null">`ioioio` = #{ioioio}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from course where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from course where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>